body {
    margin: 0;
    font-family: Arial;
    background: #0a0a0a;
    color: white;
}

section {
    padding: 60px;
    text-align: center;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(black, #001f1f);
}

h1 {
    font-size: 50px;
    color: #00ffcc;
}

h2 {
    color: #00ffcc;
}

/* BUTTON */
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00ffcc;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #111;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 220px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
    background: #00ffcc;
    color: black;
}

/* LINKS */
a {
    color: #00ffcc;
}